.person {
  width: 100%;
  min-height: 300px;
  display: flex;
}

.leftPerson {
  text-align: right;
  background-color: lightgrey;
}

.rightPerson {
  flex-direction: row-reverse;
}

.personImg {
  margin: 15px;
  height: 270px;
}

.contents {
  margin: 0 20px;
}

@media only screen and (max-device-width: 640px) {
  .personImg {
    margin-right: 5px;
  }

  .contents {
    margin: 0 8px;
  }
}
