.section {
  padding: 20px 75px;
}

.title {
  text-align: center;
}

@media only screen and (max-device-width: 575px) {
  .title {
    font-size: 35px;
    margin: 0 50px;
  }

  .section {
    padding: 40px 30px;
  }
}
